@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=Poppins:wght@300;400&display=swap');
:root {
  /**Font*/
  --font-body: 'Poppins', sans-serif;
  --font-heading: 'Nunito', sans-serif;
  /**Colors*/
}

*,
::before,
::after,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-body);
  font-size: 18px;
  text-decoration: none;
  list-style: none;
  text-transform: capitalize;
}
img {
  max-width: 100%;
}
.navbar__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  height: 50px;
  width: 100%;
  position: fixed;
  padding: 0 15px;
  background-color: rgba(127, 255, 212, 0.813);
  z-index: 3;
}

.navbar__logo {
  width: 5em;
  height: auto;
  position: relative;
  top: 4px;
}

.navbar__link {
  display: flex;
  gap: 15px;
  height: auto;
  align-items: flex-end;
  justify-content: space-between;
}
.anchor__menu:hover {
  border-bottom: 2px solid rgb(152, 45, 228);
}
.hero__container {
  padding-top: 65px;
}
.hero__copy {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0 15px;
}
.hero__copy--title {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

.hero__copy--subtitle {
  color: #ccc;
  font-size: 1rem;
}

.hero__card--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  width: 100%;
  margin: 25px 0;
  padding: 0 25px;
}

.hero__card {
  display: grid;
  place-content: center;
  border: 1px solid orange;
  border-radius: 25px;
  height: 8em;
  padding: 25px;
}

.card__paragraph {
  color: #ccc;
  font-size: 1rem;
  font-weight: 300;
}

.hero__carrousel,
.card__section--article {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 0 15px;
  justify-items: center;
}
.card__section--article {
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
}
.carrousel__img {
  border-radius: 25px;
}
.card__section--container {
  margin: 25px 0;
}
.card__section--head {
  text-align: center;
  text-decoration: underline;
}
.card__section--article {
  margin: 15px 0;
}
.card__section {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 25px;
  border: 1px solid black;
  border-radius: 5px;
}
.card__title {
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
  font-family: var(--font-heading);
}
.card__img {
  filter: opacity(0.75);
}

.card__img--quote {
  font-family: var(--font-heading);
  font-weight: 300;
}
.card__cta--container {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}
.card__cta {
  font-family: var(--font-heading);
  background: none;
  border-radius: 0;
  border: 1px solid black;
  padding: 5px 10px;
}
.input__container {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  padding: 0 15px;
}
.input__title {
  text-align: center;
}
.ubicacion__container {
  margin: 0 auto;
  max-width: 100%;
}
.ubicacion__container > iframe {
  max-width: 100%;
  border: none;
  border-radius: 25px;
}

.footer__container {
  display: grid;
  gap: 15px;
  padding: 0 15px;
  margin-top: 10px;
  padding-top: 15px;
  border-top: 1px solid grey;
}

.img__footer {
  width: 8em;
}
.footer__copy--container {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
}

.footer__copyright {
  font-size: 0.75rem;
  justify-self: center;
  margin-bottom: 10px;
}
.footer__copyright--anchor {
  font-size: 0.75rem;
  font-weight: 700;
}
.footer__copyright--anchor:hover {
  border-bottom: 2px solid violet;
}
